@import "tailwindcss";

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff")
    format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans:
    "Pretendard", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

@layer components {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px; /* 스크롤바 너비 */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #f37812; /* 스크롤바 색상 */
    border-radius: 10px; /* 둥근 모서리 */
    border: 2px solid #333; /* 테두리 색상 */
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* 스크롤 트랙 색상 */
    border-radius: 10px; /* 둥근 모서리 */
  }
}

button {
  cursor: pointer;
  transition: all 0.2s;
}
button:hover {
  transform: translateY(-4px);
}

button.none {
  transform: translateY(0px);
}

body {
  @apply bg-[#f5eedd] text-black transition-colors duration-300;
}
html.dark body {
  @apply bg-black;
}

html.modal-open body {
  @apply overflow-y-hidden;
}

@keyframes popIn {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }

  50% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.rank-active {
  animation: popIn 0.5s ease-out;
  border: 2px solid #f37812;
  box-shadow: 0 0 30px rgba(243, 120, 18, 0.5);
  transition: transform 0.5s;
}
